In [13]:
import pandas as pd
route_df=pd.read_csv('final_routes_directions.csv')
cols=['Trip_Origin', 'Trip_Destination', 'Direction_Route']
route_df=route_df[cols].drop_duplicates()
route_df.shape

(2298, 3)

In [14]:
missing_df=pd.read_csv('updated_remaining_stops.csv')

missing_df['Trip_Origin']=missing_df['Trip_Origin'].str.upper().str.split().str.join(' ')
missing_df['Trip_Destination']=missing_df['Trip_Destination'].str.upper().str.split().str.join(' ')
missing_df['Direction_Route']=missing_df['Direction_Route'].str.upper().str.split().str.join(' ')
missing_df = missing_df.drop(columns=['Unnamed: 0'])

missing_df=missing_df.drop_duplicates()
missing_df

,Trip_Origin,Trip_Destination,Direction_Route
0,VADAPALANI,KOYAMBEDU MARKET,UP
1,NALLUR,KUNDRATHUR B.S,DOWN
2,SEMMANCHERI S.C.B,ADYAR (DEPOT),DOWN
3,THIRUVANMIYUR,OKK.THORAIPAKM SEC.COLONY,UP
4,ADYAR B.S,PERUMPAKKAM S.C.B,UP
...,...,...,...
277,BESANT NAGAR,GREAMS ROAD,DOWN
278,THIRUVALLUR,VELLAVEDU,DOWN
279,THYAGARAYA NAGAR,SAIDAPET (DEPOT),UP
280,AVADI,THIRUVALLUR COLLECTOR OFFICE,UP
281,THIRUVALLUR COLLECTOR OFFICE,AVADI,DOWN

In [15]:
final_route_df=pd.concat([route_df, missing_df], ignore_index=True)
final_route_df=final_route_df.drop_duplicates()
final_route_df.shape

duplicate_routes = final_route_df.duplicated(subset=['Trip_Origin', 'Trip_Destination'], keep=False)
final_route_df[duplicate_routes]

final_route_df.to_csv('final_routes_directions.csv')

final_route_df.shape

(2298, 3)